body {
	background-image: url(../img/ea8478d0089163dbc870b8ca98c38ad6.jpg);
	background-size: 100%;
	text-align: center;
}

h1 {
	font-family: 'Playfair Display';
	font-size: 5rem;
	color: rgba(51, 42, 28, 0.918);
	text-shadow: 3px 0 rgb(31, 39, 105);
}

.piano {
	margin-top: 100px;
}

button {
	width: 5%;
	height: 200px;
	margin-left: 30px;
	font-family: 'Playfair Display';
	font-size: 2rem;
	border: 2px solid #404B69;
	border-radius: 20px;
	outline: none;
}

.pressed {
	border: 2px solid black;
}

footer {
	font-family: 'Playfair Display';
	margin-top: 150px;
}